{% if post.tags is defined %}
{% set category %}
                  <span class="label label--category">
                    {%- for tag in post.tags|slice(0, 1) ~%}
                    <a href="{{ url('tags/' ~ tag) }}">{{ tag }}</a>
                    {%- endfor ~%}
                  </span>
{%- endset -%}
{% endif %}
                <small class="small post-meta">
                  {%~ if category is defined is not empty %}{{ category ~ "&nbsp;&middot;&nbsp;" -}}{% endif ~%}
                  <time datetime="{{ post.date|date('c') }}" class="time">{{ post.date|date("j M Y") }}</time>
                </small>
