<!DOCTYPE html>
<html lang="{{ site.language|default('en') }}">
  <head>
    {%- block head ~%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%~ include 'partials/metatags.html.twig' ~%}
    <link rel="stylesheet" href="{{ asset('sass/garth.scss')|url }}">
    {%- if site.favicon|default(false) ~%}
    <link rel="shortcut icon" href="{{ asset(site.favicon)|url }}">
    {%- else ~%}
    <link rel="shortcut icon" href="{{ asset(site.logo|default(''))|url }}">
    {%- endif ~%}
    {%- endblock head ~%}
  </head>
  <body>
    {%~ include 'partials/site-header.html.twig' ~%}
    <main class="main container">
      <div class="content">
        {%~ block content ~%}
        <article class="page typeset">
          <h1>{{ page.title }}</h1>
          {{- page.content ~}}
        </article>
        {%~ endblock content ~%}
      </div>
    </main>
    {%- block footer ~%}
    {%~ include 'partials/site-footer.html.twig' ~%}
    {#<link href="{{ asset('google-fonts-1597441858876.css')|url }}" rel="stylesheet">
    <link href="{{ asset('google-fonts-1597441908439.css')|url }}" rel="stylesheet">~#}
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700|Neuton:400,700" rel="stylesheet">
    {%~ include 'partials/googleanalytics.js.twig' ~%}
    {%- endblock footer ~%}
  </body>
</html>
